<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
  <listeners>
    <listener class-name="framework.listeners.TestListener"/>
  </listeners>
  <test name="Smoke Tests">
    <classes>
      <class name="tests.smoke.ExampleSmokeTest"/>
    </classes>
  </test>
</suite>
